
/*TODO: Var colors*/

/*TODO: branding*/
$primary-color : #0d3964;
$secondary-color: #ffba7a;
$complementary-color: #3dc154;

/*TODO: Colos Neutral*/
$white-color: #fff;
$black-color: #000;
$grey-color: #7f7f7f;
$grey-light: #cbcbcb;

/*TODO: Colos Semantic*/
$success-color: #059d2b;
$danger-color: #ffd0a5;
$error-color: #ff0000;
$message-color: #5075ea;

$p-color: #1b4f82;