html {
    font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Merriweather', serif;
    font-weight: 500;
}

h1 {
    font-size: 4.2rem;
}

h2 {
    font-size: 3.8rem;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.8rem;

}

h6 {
   font-size: 1.4rem;
}

p {
    font-size: 1.7rem;
    font-family: 'Zilla Slab', serif;
    margin-bottom: 2.1rem;
}

a {
    text-decoration: none;
    font-family: 'Zilla Slab', serif;
}

button {
    font-size: 1.8rem;
    font-family: 'Berkshire Swash', cursive;
    font-weight: 500;
    letter-spacing: 1.2px;
}